* text eol=lf

*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text

# ROSE Files
*.[Hh][Ii][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Dd][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Ll][Ii][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Tt][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ss][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Mm][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Mm][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Mm][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Ss][Cc] filter=lfs diff=lfs merge=lfs -text
